.whole_contact{
    margin-top: 50px;
    margin-right: 20px;
    height: 150vh;
}

.location_title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2vw;
    margin-left: 50px;
    font-size: 30px;
    color: crimson;
}

.map_tile iframe{
    width: 1000px;
}

.row{
    margin-left: 3vw;
}
.map_tile{
    box-shadow: 3px 3px 5px crimson;
}

@media(max-width:767px){
    .whole_contact{
        height: 250vh;
    }
}