.feedback_title{
    color: turquoise;
    font-family: cursive;
    margin-bottom: 40px;
}

label{
    color: darkgoldenrod;
    font-weight: bold;
}

.form-control{
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 5px white inset;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit_button{
    background-color: rgb(226, 79, 53);
    color: white;
}