.modal-content{
    background-color: black;
    color: white;
    border: 3px solid sandybrown;
}

.close{
    color: red;
    opacity: 1;
}
.button_div{
    display: flex;
    justify-content: center;
}


     
