.whole-div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: black;
    color: purple;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.route{
    padding: bottom 50px;
}


@media(max-width:767px){
    .menu{
        height: 300vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .whole-div{
        height: 300vh;
    }
}